In [1]:
# # Project proposal
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt 
from datetime import date
from scipy.stats import zscore
import re 
import seaborn as sns; sns.set(style="ticks", color_codes=True)

In [2]:
#reanding the file 
name_file2 = '/home/xibelly/Documentos/data_incubator/Input/temp_datalab_records_linkedin_company.csv'

data_project = pd.read_csv(name_file2, sep=',')
data_project.head()

/etc/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (9,10) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,dataset_id,as_of_date,company_name,followers_count,employees_on_platform,link,industry,date_added,date_updated,description,website,entity_id,cusip,isin
0,58329,2015-09-14,Goldman Sachs,552254,38124,https://www.linkedin.com/company/1382,Investment Banking,2015-09-14 00:00:00+00,2015-09-14 00:00:00+00,NaN,NaN,NaN,NaN,NaN
1,58329,2015-09-15,Goldman Sachs,552862,38141,https://www.linkedin.com/company/1382,Investment Banking,2015-09-15 00:00:00+00,2015-09-15 00:00:00+00,NaN,NaN,NaN,NaN,NaN
2,58363,2015-09-16,United Technologies,59157,14982,https://www.linkedin.com/company/2426,Aviation & Aerospace,2015-09-16 00:00:00+00,2015-09-16 00:00:00+00,NaN,NaN,NaN,NaN,NaN
3,58366,2015-09-16,Novo Nordisk,336175,26448,https://www.linkedin.com/company/2227,Pharmaceuticals,2015-09-16 00:00:00+00,2015-09-16 00:00:00+00,NaN,NaN,NaN,NaN,NaN
4,58371,2015-09-16,"Lowe's Companies, Inc.",134255,62574,https://www.linkedin.com/company/4128,Retail,2015-09-16 00:00:00+00,2015-09-16 00:00:00+00,NaN,NaN,NaN,NaN,NaN

In [ ]:
#type of variables
data_project.dtypes

In [ ]:
#general information
data_project.describe()

In [ ]:
print("data analysis (Number of variables, Number of observations)")
print('Number of variables: {0}'.format(data_project.shape[1]))
print('Number of observations: {0}'.format(data_project.shape[0]))

In [ ]:
#statistical analysis of 'followers_count','employees_on_platform' groupby 'company_name','industry'
data_project.groupby(['industry','company_name'])['followers_count','employees_on_platform'].describe()

In [ ]:
#Analysis of the quiantity of NaN in the data set

def revisionNull(df):
    a=df.isnull().sum()
    resulNa=[ re for re in a if re>0 ]
    if resulNa:
        print(resulNa)
        
    else :
        print("The dataframe has not NA values")
        

revisionNull(data_project)

In [ ]:
#Levels of categorical data

variables_Categoricas  = list(data_project.select_dtypes(include=['object','datetime64']).columns)  
for variable in  variables_Categoricas:
        print("--"*30,'COLUMNA:',variable)
        #plt.cla()
        print("VALORES :\n ", pd.Series.value_counts(data_project[variable]))

In [ ]:
#Levels of numerical data
variables_Numericas  = list(data_project.select_dtypes(exclude=['object','datetime64']).columns)
for variable in  variables_Numericas:
        print("--"*30,'COLUMNA:',variable)
        #plt.cla()
      
        print("VALORES :\n ", pd.Series.value_counts(data_project[variable]))

In [ ]:
#box plot
#boxplot = data_project.groupby(['industry','company_name'])['followers_count','employees_on_platform'].boxplot(column=['followers_count','employees_on_platform'])
np.random.seed(1234)

boxplot = data_project.boxplot(column=['followers_count','employees_on_platform'], by=['industry','company_name'])
boxplot

In [ ]:
#correlation matrix 
company = data_project[['industry','company_name']]

number_employ = pd.DataFrame(data_project.groupby('company_name')['employees_on_platform'].apply(lambda x: sum(x)))#.shape[0]).rename('number_employers'))

data_project_matrix = number_employ.merge(company, on = 'company_name')
data_project_matrix = data_project_matrix.drop_duplicates()

df2=data_project_matrix.pivot(columns='company_name', values='employees_on_platform')


import seaborn as sns
get_ipython().run_line_magic('matplotlib', 'inline')

# calculate the correlation matrix
corr = df2.corr()

# plot the heatmap
sns.heatmap(corr, 
        xticklabels=corr.columns,
        yticklabels=corr.columns)

In [ ]:
def histogram_intersection(a, b):
     v = np.minimum(a, b).sum().round(decimals=1)
     return v

df2.corr(method=histogram_intersection)